{% extends 'base.html'%}

{% block menu %}

   <li><a href="{% url 'guestbook_update' guestbook.pk %}">Edit</a></li>

   <li><a href="{% url 'guestbook_delete' guestbook.pk %}">Delete</a></li>

{% endblock %}

{% block title %}{{ guestbook.title }}{% endblock %}

{% block content %}
    <h1>Guestbook:{{ guestbook.get_status_display }}</h1>
    <p>Описание:{{ guestbook.taxt}} </p>
    <p>Статус: {{ guestbook.get_status_display }}</p>
    <div class="pre">{{ guestbook.text }}</div>
    <div>{{ guestbook.date }}</div>
{% endblock %}
