{% extends 'base.html' %}

{% block menu %}
<li><a href="{% url 'guestbook_add' %}">Add Guestbook</a></li>
{% endblock %}

{% block content %}
<h1>Guestbook:</h1>
<hr/>
{% for guestbook in guestbooks %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title" style="display:inline ">{{ guestbook.post_author_name }}({{ guestbook.email}})</h5>
        <p style="display:inline "><a href="{% url 'guestbook_update' guestbook.pk %}"><i class="fas fa-file-signature"></i></a></p>
        <p style="display:inline "><a href="{% url 'guestbook_delete' guestbook.pk %}"><i class="fas fa-trash"></i></a></p>
        <p class="card-text">{{ guestbook.text }}</p>
    </div>
</div>
<h2></h2>
<hr/>
{% endfor %}
{% endblock %}
